@page "/procedimento/{Id:int}/excluir"
@rendermode InteractiveServer

@using ProjClinicaOdontoriso.Models;
@inject ProcedimentoDAO procedimentoDAO;
@inject NavigationManager Navigation;

<PageTitle>Procedimento</PageTitle>

<link rel="stylesheet" href="/Css/styleProcedimento/StyleApagarProcedimento.css">

<h1>Exclusão de Procedimento</h1>

@if (erro != string.Empty)
{
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4" role="alert">
        <strong class="font-bold">Erro!</strong>
        <span class="block sm:inline">@erro</span>
    </div>
}


<EditForm Model="procedimento" OnSubmit="Excluir">
    <div class="label" role="alert">
        <strong class="font-bold">Atenção!</strong>
        <span class="block sm:inline">Esta ação não pode ser desfeita.</span>


        <p class="text-lg">Tem certeza que deseja excluir o procedimento <strong>@procedimento.Nome</strong>?</p>
    </div>

    <div class="form-buttons">
        <button type="button" class="btn-voltar" @onclick="@(() => Navigation.NavigateTo("/Gerenciar Procedimento"))">Cancelar</button>
        <button type="submit" class="btn-primary">Excluir</button>
    </div>

</EditForm>

@code {

    private string erro = string.Empty;

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Procedimento procedimento { get; set; } = new();

    protected override void OnInitialized()
    {
        var _procedimento = procedimentoDAO.BuscarPorId(Id);

        if (_procedimento != null)
        {
            procedimento = _procedimento;
        }
        else
        {
            erro = "Procedimento não encontrada.";
        }
    }

    private void Excluir()
    {
        try
        {
            procedimentoDAO.Excluir(procedimento.Id);

            Navigation.NavigateTo("/Gerenciar Procedimento");
        }
        catch (Exception ex)
        {
            erro = $"Erro ao excluir a procedimento: {ex.Message}";
        }

    }
}