@page "/procedimento/novo"
@rendermode InteractiveServer

@using ProjClinicaOdontoriso.Models;
@inject ProcedimentoDAO procedimentoDAO;
@inject NavigationManager Navigation;

<PageTitle>Procedimento - Novo</PageTitle>

<link rel="stylesheet" href="/Css/styleProcedimento/StyleCadastrarProcedimento.css">

<h1>Adicionar Procedimento</h1>

<form>
    <div class="form-group">
        <label>Nome</label>
        <input @bind="_novoProcedimento.Nome" type="text" class="form-control" name="nome" placeholder="Informe o nome do procedimento" />
    </div>

    <div class="form-group">
        <label>Tempo</label>
        <input @bind="_novoProcedimento.Tempo" type="time" class="form-control" name="tempo" placeholder="Informe o tempo do procedimento" />
    </div>

    <div class="form-group">
        <label>Descrição</label>
        <input @bind="_novoProcedimento.Descricao" type="text" class="form-control" name="descricao" placeholder="Informe a descrição do procedimento" />
    </div>

    <div class="form-group">
        <label>Valor</label>
        <input @bind="_novoProcedimento.Valor" type="text" class="form-control" name="valor" placeholder="Informe o valor do procedimento" />
    </div>

    <div class="form-buttons">
        <button type="button" class="btn-voltar" @onclick="@(() => Navigation.NavigateTo("/Gerenciar Procedimento"))">Voltar</button>
        <button type="button" class="btn-primary" @onclick="Salvar">Salvar</button>
    </div>
</form>

@code {
    private string? erro = null;

    private Procedimento _novoProcedimento = new();

    private void Salvar()
    {
        try
        {
            procedimentoDAO.Inserir(_novoProcedimento);

            Navigation.NavigateTo("/Gerenciar Procedimento");
        }
        catch (Exception ex)
        {

        }
    }
}