@page "/procedimento/{Id:int}/editar"
@rendermode InteractiveServer

@using ProjClinicaOdontoriso.Models;
@inject ProcedimentoDAO procedimentoDAO;
@inject NavigationManager Navigation;

<PageTitle>Procedimento</PageTitle>

<link rel="stylesheet" href="/Css/styleProcedimento/StyleEditarProcedimento.css">

<h1>Atualização Procedimento - @procedimento.Nome</h1>

@if (erro != string.Empty)
{
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4" role="alert">
        <strong class="font-bold">Erro!</strong>
        <span class="block sm:inline">@erro</span>
    </div>
}

<EditForm Model="procedimento" OnSubmit="Salvar">
    <div class="form-group">
        <label>Nome</label>
        <input @bind-value="procedimento.Nome" type="text" id="nome" class="form-control" />
    </div>
    <div class="form-group">
        <label>Tempo</label>
        <input @bind-value="procedimento.Tempo" type="time" id="Tempo" class="form-control" />
    </div>
    <div class="form-group">
        <label>Valor</label>
        <input @bind-value="procedimento.Valor" type="text" id="valor" class="form-control" />
    </div>

    <div class="form-group">
        <label>Descricao</label>
        <input @bind-value="procedimento.Descricao" type="text" id="descricao" class="form-control" />
    </div>

    <div class="form-buttons">
        <button type="button" class="btn-voltar" @onclick="@(() => Navigation.NavigateTo("/Gerenciar Procedimento"))">Voltar</button>
        <button type="submit" class="btn-primary">Salvar</button>
    </div>

</EditForm>

@code {

    private string erro = string.Empty;

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Procedimento procedimento { get; set; } = new();

    protected override void OnInitialized()
    {
        var _procedimento = procedimentoDAO.BuscarPorId(Id);

        if (_procedimento != null)
        {
            procedimento = _procedimento;
        }
        else
        {
            erro = "Procedimento não encontrado.";
        }
    }

    private void Salvar()
    {
        try
        {
            procedimentoDAO.Atualizar(procedimento);

            Navigation.NavigateTo("/Gerenciar Procedimento");
        }
        catch (Exception ex)
        {
            erro = $"Erro ao salvar o procedimento: {ex.Message}";
        }

    }
}