<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProjClinicaOdontoriso</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Usuario">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Usuario
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GerenciarAgenda">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gerenciar Agenda
            </NavLink>
        </div>  
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GerenciarPaciente">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gerenciar Paciente
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GerenciarAnamnese">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Questionario Anamnese
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GerenciarProcedimento">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gerenciar Procedimento
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GerenciarDentista">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gerenciar Dentista
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GerenciarFuncionario">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gerenciar Funcionario
            </NavLink>
        </div>
    </nav>
</div>

