<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Clinica Odontoriso</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house" style="color: #117e7e; font-size: 20px; margin-right: 10px;" aria-hidden="true"></i> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
          
            <NavLink class="nav-link" href="Login">
                <i class="fa-solid fa-circle-user" style="color: #117e7e; font-size: 20px; margin-right: 10px; margin-top: 10px; height:40px;"></i>Login
        
            </NavLink>
        </div>

        <div class="nav-item px-3">
<<<<<<< Updated upstream
            <NavLink class="nav-link" href="Gerenciar Consulta">
                <i class="fa-solid fa-calendar-days" style="color: #117e7e; font-size: 20px; margin-right: 10px;"></i> Gerenciar Consulta
            </NavLink>
        </div>  
        
        <div class="nav-item px-3">
=======
>>>>>>> Stashed changes
            <NavLink class="nav-link" href="GerenciarPaciente">
                <i class="fa-solid fa-people-group" style="color: #117e7e; font-size: 20px; margin-right: 10px;"></i> Gerenciar Paciente
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GerenciarFuncionario">
                <i class="fa-solid fa-person" style="color: #117e7e; font-size: 20px; margin-right: 10px;"></i> Gerenciar Funcionario
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GerenciarDentista">
                <i class="fa-solid fa-user-doctor" style="color: #117e7e; font-size: 20px; margin-right: 10px;"></i> Gerenciar Dentista
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GerenciarAnamnese">
                <i class="fa-solid fa-clipboard" style="color: #117e7e; font-size: 20px; margin-right: 10px;"></i> Questionario Anamnese
            </NavLink>
        </div>

                <div class="nav-item px-3">
            <NavLink class="nav-link" href="GerenciarProcedimento">
                <i class="fa-solid fa-tooth" style="color: #117e7e; font-size: 20px; margin-right: 10px;"></i> Gerenciar Procedimento
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GerenciarAgenda">
                <i class="fa-solid fa-calendar-days" style="color: #117e7e; font-size: 20px; margin-right: 10px;"></i> Gerenciar Agenda
            </NavLink>
        </div>  
       

    </nav>
</div>

