body {
  background-color: #a6d6cd;
  font-family: 'Poppins', sans-serif;
}

h1 {
    color: #074B35;
    font-weight: 200;
    margin-bottom: 30px;
}

.table {
  width: 80%;
  margin: 40px auto;
  background-color: #78B1AC;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
}

.table thead {
  background-color: #78B1AC;
  font-weight: bold;
  font-size: 18px;
}

.table th, .table td {
  padding: 14px;
  color: #105D47;
}

.table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.botoes-inferiores {
  display: flex;
  justify-content: right;
  width: 80%;
  margin: 40px auto 20px;
}

.botao-adicionar {
  background-color: #006b57;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 18px;
}
.botao-adicionar:hover {
  background-color: #004f42;
}