#fundoForm {
    background-color: #85BEB4;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-pesquisa {
    height: 500px;
    width: 800px;
    background-color: #78B1AC;
    border-radius: 8px;
}
