#fundoForm {
    background-color: #85BEB4;
    display: flex;
    align-items: center;
}


.container-pesquisa {
    margin-top: 45px;
    margin-left: 100px;
    height: 500px;
    width: 800px;
    background-color: #78B1AC;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    color: white;
    margin-bottom: 20px;
}
