@page "/GerenciarAnamnese"

<PageTitle>Gerenciamento de Funcionarios</PageTitle>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Css/styleAnamnese/PesquisaPaciente.css/">
</head>
<body class="body-pesquisa">
	<div class="container-pesquisa">
		<h3>Selecione o Paciente</h3>
		<input type="search" placeholder="digite o nome do paciente" />
	</div>
</body>
</html>