@page "/GerenciarAnamnese"

<PageTitle>Pesquisa de paciente</PageTitle>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Css/styleAnamnese/stylePesquisa.css">
</head>
<body id="fundoForm">
    <div class="container-pesquisa">
        <h1>Pesquisa de paciente</h1>
		<input type="search" placeholder="digite o nome do paciente" />
    <button id="botão-avancar">Avançar >></button>
    </div>
</body>
</html>