@page "/GerenciarAnamnese"
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/Css/styleAnamnese/stylePesquisa.css">
    <title>Questionario Anamnese</title>
</head>
<body id="fundoForm">
<link rel="stylesheet" href="/Css/styleAnamnese/stylePesquisa.css">
    <div class="container-pesquisa">
        <h1>Pesquisa de paciente</h1>
        <input type="search" placeholder="digite o nome do paciente" />
        <a id="botão-avancar" href="/anamnese/QuestionarioAnamnese" class="btn btn-sm btn-primary">Avançar >></a>
    </div>
</body>
</html>
