@page "/QuestionarioP2"
<link rel="stylesheet" href="/Css/styleAnamnese/styleQuestionario.css">

<div id="fundoform">
    <div class="container-questionario">
        <h1>Questionário de Anamnese</h1>
        <form>
            <p>4.Esteve sob cuidados médicos no último ano?</p>
            <input type="radio" name="cuidados" value="sim">Sim
            <input type="radio" name="cuidados" value="nao">Não
            <textarea name="detalhes" rows="2" cols="50" placeholder="Se sim, por favor, forneça detalhes"></textarea>
            <p></p>
            <p>5.Faz uso de algum medicamento diariamente?</p>
            <input type="radio" name="medicamento" value="sim">Sim
            <input type="radio" name="medicamento" value="nao">Não
            <textarea name="detalhes" rows="2" cols="50" placeholder="Se sim, por favor, forneça detalhes"></textarea>
            <p></p>
            <p>6.Tem alergia à penicilina, iodo, alguma substância ou alimentos?</p>
            <input type="radio" name="alergia" value="sim">Sim
            <input type="radio" name="alergia" value="nao">Não
            <textarea name="detalhes" rows="2" cols="50" placeholder="Se sim, por favor, forneça detalhes"></textarea>
        </form>
        <div id="voltar">
            <a href="/QuestionarioP1" class="btn btn-sm btn-primary"> >>Voltar</a>
        </div>
        <div id="avancar">
            <a href="QuestionarioP3" class="btn btn-sm btn-primary">Avançar >></a>
        </div>
    </div>
</div>