@page "/Anamnese/QuestionarioAnamnese"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionario Anamnese</title>
    <link rel="stylesheet" href="/Css/styleAnamnese/styleQuestionario.css">
</head>
<body id="fundoform">
    <div class="container-questionario">
        <h1>Questionário de Anamnese</h1>
        <form>
            <p>Você está com boa saúde?</p>
            < label for = " nome " > Nome </ label >
        </form>
    </div>   
</body>
</html>