@page "/QuestionarioP3"
<link rel="stylesheet" href="/Css/styleAnamnese/styleQuestionario.css">

<div id="fundoform">
    <div class="container-questionario">
        <h1>Questionário de Anamnese</h1>
        <form>
        <p>7. Alguma vez sangrou muito a ponto de necessitar de tratamento especial ou internação?</p>
        <input type="radio" name="sangramento" value="sim">Sim
        <input type="radio" name="sangramento" value="nao">Não
        <textarea name="detalhes_sangramento" rows="2" cols="50" placeholder="Se sim, por favor, forneça detalhes"></textarea>
        <p></p>

        <p>8. Já foi anestesiado para tratamento odontológico?</p>
        <input type="radio" name="anestesia" value="sim">Sim
        <input type="radio" name="anestesia" value="nao">Não
        <textarea name="detalhes_anestesia" rows="2" cols="50" placeholder="Se sim, por favor, forneça detalhes"></textarea>
        <p></p>

        <p>9. Já fez alguma extração dentária?</p>
        <input type="radio" name="extracao" value="sim">Sim
        <input type="radio" name="extracao" value="nao">Não
        <textarea name="detalhes_extracao" rows="2" cols="50" placeholder="Se sim, por favor, forneça detalhes"></textarea>
    </form>
    <div id="voltar">
        <a href="/QuestionarioP2" class="btn btn-sm btn-primary"> >>Voltar</a>
    </div>
    <div id="avancar">
        <a href="/QuestionarioP4" class="btn btn-sm btn-primary">Avançar >></a>
    </div>
    </div>
</div>