@page "/Anamnese/Quest3.html"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionario Anamnese</title>
    <link rel="stylesheet" href="style.css">
</head>
<body id="fundoform">
    <div class="container-questionario">
        <h1>Questionário de Anamnese</h1>
        <form>
        <p>7. Alguma vez sangrou muito a ponto de necessitar de tratamento especial ou internação?</p>
        <input type="radio" name="sangramento" value="sim">Sim
        <input type="radio" name="sangramento" value="nao">Não
        <textarea name="detalhes_sangramento" rows="2" cols="50" placeholder="Se sim, por favor, forneça detalhes"></textarea>
        <p></p>

        <p>8. Já foi anestesiado para tratamento odontológico?</p>
        <input type="radio" name="anestesia" value="sim">Sim
        <input type="radio" name="anestesia" value="nao">Não
        <textarea name="detalhes_anestesia" rows="2" cols="50" placeholder="Se sim, por favor, forneça detalhes"></textarea>
        <p></p>

        <p>9. Já fez alguma extração dentária?</p>
        <input type="radio" name="extracao" value="sim">Sim
        <input type="radio" name="extracao" value="nao">Não
        <textarea name="detalhes_extracao" rows="2" cols="50" placeholder="Se sim, por favor, forneça detalhes"></textarea>
    </form>

<a href="/Anamnese/Quest2.html" class="btn btn-sm btn-primary"> >>Voltar</a>
<a href="/Anamnese/Quest4.html" class="btn btn-sm btn-primary">Avançar >></a>

    </div>
</body>
</html>