@page "/QuestionarioP4"
<link rel="stylesheet" href="/Css/styleAnamnese/styleQuestionario.css">

<div id="fundoform">
    <div class="container-questionario">
        <h1>Questionário de Anamnese</h1>
        <form>
            <p>10.Faz atividade física? </p>
            <input type="radio" name="atividadefisica" value="sim">Sim
            <input type="radio" name="atividadefisica" value="nao">Não
            <textarea name="detalhes" rows="2" cols="50" placeholder="Se sim, por favor, forneça detalhes"></textarea>
            <p></p>
            <p>11.(Mulheres) Está grávida no momento? De quantas semanas?</p>
            <input type="radio" name="gravida" value="sim">Sim
            <input type="radio" name="gravida" value="nao">Não
            <textarea name="detalhes" rows="2" cols="50" placeholder="Se sim, quantos meses?"></textarea>
            <p></p>
        </form>
        <div id="voltar">
            <a href="QuestionarioP3" class="btn btn-sm btn-primary"> >>Voltar</a>
        </div>
        <div id="avancar">
            <a href="Relatorio" class="btn btn-sm btn-primary">Confirmar infromações e salvar >></a> 
        </div>
    </div>
</div>