@page "/GerenciarPaciente/novo"

@rendermode InteractiveServer
@using ProjClinicaOdontoriso.Models.Paciente;
@inject PacienteDAO pacienteDAO;
@inject NavigationManager navigation;

<PageTitle>Add - Paciente</PageTitle>
<h1>Novo Paciente</h1>
<link rel="stylesheet" href="Css/stylePaciente/StyleCadastopaciente.css">


@if (erro != null)
{
    <div class="alert alert-danger">
        @erro
    </div>
}

<div class="row">
    

    <div class="col">
         <EditForm Model="_novoPaciente" OnSubmit="Salvar">

            <div class="voltar">
                <button class="btn-voltar" @onclick="Voltar"> &#8592; Voltar</button>
            </div>

            <div class="form-group mb-4">
                <label>Nome</label>
                <input @bind="_novoPaciente.Nome" type="text" class="form-control" name="nome" placeholder="Informe o nome do Paciente" />
            </div>
            
            <div class="form-group mb-4">
                <label>Data Nascimento</label>
                <input @bind="_novoPaciente.DataNascimento" type="date" class="form-control" name="dataNascimento" placeholder="Informe a Data do Nascimento do Paciente" />
            </div>

            <div class="form-group mb-4">
                <label>Idade</label>
                <input @bind="_novoPaciente.Idade" type="int" class="form-control" name="idade" placeholder="Informe a idade do Paciente" />
            </div>

            <div class="form-group mb-4">
                <label>Local Nascimento</label>
                <input @bind="_novoPaciente.LocalNascimento" type="text" class="form-control" name="localNascimento" placeholder="Informe o local de Nascimento do Paciente" />
            </div>

            <div class="form-group mb-4">
                <label>RG</label>
                <input @bind="_novoPaciente.RG" type="text" class="form-control" name="RG" placeholder="Informe o RG do Paciente" />
            </div>

            <div class="form-group mb-4">
                <label>CPF</label>
                <input @bind="_novoPaciente.CPF" type="text" class="form-control" name="CPF" placeholder="Informe o CPF do Paciente" />
            </div>

            <div class="form-group mb-4">
                <label>Endereço</label>
                <input @bind="_novoPaciente.Endereco" type="text" class="form-control" name="Endereco" placeholder="Informe o Endereço do Paciente" />
            </div>

            <div class="form-group mb-4">
                <label>Telefone</label>
                <input @bind="_novoPaciente.Telefone" type="text" class="form-control" name="Telefone" placeholder="Informe o Telefone do Paciente" />
            </div>

            <div class="form-group mb-4">
                <label>Profissão</label>
                <input @bind="_novoPaciente.Profissao" type="text" class="form-control" name="Profissao" placeholder="Informe a Profissão do Paciente" />
            </div>

           <div class="form-group mb-4">
                <label for="estadoCivil">Estado civil:</label>
                <select @bind="_novoPaciente.EstadoCivil" id="estadoCivil" name="estadoCivil" required>
                    <option value="" disabled selected>Selecione</option>
                    <option value="solteiro">Solteiro(a)</option>
                    <option value="casado">Casado(a)</option>
                    <option value="divorciado">Divorciado(a)</option>
                    <option value="viuvo">Viúvo(a)</option>
                </select>
           </div>

           <div class="form-group mb-4">
                <label>E-mail</label>
                <input @bind="_novoPaciente.Email" type="text" class="form-control" name="Email" placeholder="Informe o E-mail do Paciente" />
           </div>

          <div class="form-group mb-4">
                <label for="sexo">Sexo</label>
                <select @bind="_novoPaciente.Sexo" name="sexo" id="sexo">
                    <option value="" disabled selected>Selecione</option>
                    <option value="feminino">Feminino</option>
                    <option value="masculino">Masculino</option>
                    <option value="intersexo">Intersexo</option>
                </select>
          </div>

          <div class="form-group mb-4">
                <label for="raca">Raça</label>
                <select @bind="_novoPaciente.Raca" name="raca" id="raca">
                    <option value="" disabled selected>Selecione</option>
                    <option value="branco">Branco(a)</option>
                    <option value="pardo">Pardo(a)</option>
                    <option value="preto">Preto(a)</option>
                    <option value="amarelo">Amarelo(a)</option>
                    <option value="vermelho">Vermelho(a)</option>
                </select>
          </div>

              <div class="form-buttons">
                <button type="button" class="btn btn-editar">Editar</button>
                <button type="submit" class="btn btn-salvar">Salvar</button>
                <button type="button" class="btn btn-excluir">Excluir</button>
             </div>
            

        </EditForm>
        

    </div>
</div>

@code {
    private string? erro = null;
    private Paciente _novoPaciente = new();

    private void Voltar()
    {
        navigation.NavigateTo("/GerenciarPaciente");
    }
    private void Salvar()
    {
        try
        {
            if (_novoPaciente.Nome is null || _novoPaciente.Nome == "")
            {
                throw new Exception("O campo nome é obrigatório");
            }

            pacienteDAO.InserirPac(_novoPaciente);

            _novoPaciente = new Paciente();

            erro = "Paciente salvo com sucesso!";

            navigation.NavigateTo("/GerenciarPaciente/novo");

        }
        catch (Exception ex)
        {
            erro = ex.Message;
        }

    }

}
