@page "/consulta/{Id:int}/excluir"
@rendermode InteractiveServer

@using ProjClinicaOdontoriso.Models;
@inject ConsultaDAO consultaDAO;
@inject NavigationManager Navigation;

<PageTitle>Consulta</PageTitle>

<link rel="stylesheet" href="/Css/styleConsulta/StyleApagarConsulta.css">

<h1>Exclusão de Consulta</h1>

@if (erro != string.Empty)
{
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4" role="alert">
        <strong class="font-bold">Erro!</strong>
        <span class="block sm:inline">@erro</span>
    </div>
}


<EditForm Model="consulta" OnSubmit="Excluir">
    <div class="label" role="alert">
        <strong class="font-bold">Atenção!</strong>
        <span class="block sm:inline">Esta ação não pode ser desfeita.</span>


        <p class="text-lg">Tem certeza que deseja excluir a consulta <strong>@consulta.Data</strong>?</p>
    </div>

    <div class="form-buttons">
        <button type="button" class="btn-voltar" @onclick="@(() => Navigation.NavigateTo("/Gerenciar Consulta"))">Cancelar</button>
        <button type="submit" class="btn-primary">Excluir</button>
    </div>

</EditForm>

@code {

    private string erro = string.Empty;

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Consulta consulta { get; set; } = new();

    protected override void OnInitialized()
    {
        var _consulta = consultaDAO.BuscarPorId(Id);

        if (_consulta != null)
        {
            consulta = _consulta;
        }
        else
        {
            erro = "Consulta não encontrada.";
        }
    }

    private void Excluir()
    {
        try
        {
            consultaDAO.Excluir(consulta.Id);

            Navigation.NavigateTo("/Gerenciar Consulta");
        }
        catch (Exception ex)
        {
            erro = $"Erro ao excluir a consulta: {ex.Message}";
        }

    }
}