@page "/consulta/nova"
@rendermode InteractiveServer

@using ProjClinicaOdontoriso.Models;
@inject ConsultaDAO consultaDAO;
@inject NavigationManager Navigation;

<PageTitle>Consulta - Nova</PageTitle>

<h1 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-6">Nova Consulta</h1>

<div class="row">
    <div class="col">
        <form>
            <div class="form-group mb-4">
                <label>Horário</label>
                <input @bind="_novaConsulta.Horario" type="time" class="form-control" name="horario" placeholder="Informe o horário da consulta" />
            </div>

            <div class="form-group mb-4">
                <label>Procedimento</label>
                <input @bind="_novaConsulta.Data" type="date" class="form-control" name="data" placeholder="Informe a data da consulta" />
            </div>

            <button @onclick="Salvar" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>

@code {
    private string? erro = null;

    private Consulta _novaConsulta = new();

    private void Salvar()
    {
        try
        {
            consultaDAO.Inserir(_novaConsulta);

            Navigation.NavigateTo("/Gerenciar Consulta");
        }
        catch (Exception ex)
        {

        }
    }
}