@page "/consulta/nova"
@rendermode InteractiveServer

@using ProjClinicaOdontoriso.Models;
@inject ConsultaDAO consultaDAO;
@inject NavigationManager Navigation;

<PageTitle>Consulta - Nova</PageTitle>

<link rel="stylesheet" href="/Css/styleConsulta/StyleCadastrarConsulta.css">

<h1>Adicionar Consulta</h1>

<form>
    <div class="form-group">
        <label>Horário:</label>
        <input @bind="_novaConsulta.Horario" type="time" class="form-control" name="horario" />
    </div>

    <div class="form-group">
        <label for="date">Data:</label>
        <input @bind="_novaConsulta.Data" type="date" class="form-control" name="data" />
    </div>

    <div class="form-buttons">
        <button type="button" class="btn-voltar" @onclick="@(() => Navigation.NavigateTo("/Gerenciar Consulta"))">Voltar</button>
        <button type="button" class="btn-primary" @onclick="Salvar">Salvar</button>
    </div>
</form>

@code {
    private Consulta _novaConsulta = new();

    protected override void OnInitialized()
    {
        _novaConsulta.Data = DateTime.Today;
        _novaConsulta.Horario = DateTime.Now;
    }

    private void Salvar()
    {
        try
        {
            consultaDAO.Inserir(_novaConsulta);
            Navigation.NavigateTo("/Gerenciar Consulta");
        }
        catch (Exception)
        {
        }
    }
}
