@page "/consulta/{Id:int}/editar"
@rendermode InteractiveServer

@using ProjClinicaOdontoriso.Models;
@inject ConsultaDAO consultaDAO;
@inject NavigationManager Navigation;

<PageTitle>Consulta</PageTitle>

<link rel="stylesheet" href="/Css/styleConsulta/StyleEditarConsulta.css">

<h1>Atualização Consulta - Dia: @consulta.Data.ToString("d")</h1>

@if (erro != string.Empty)
{
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4" role="alert">
        <strong class="font-bold">Erro!</strong>
        <span class="block sm:inline">@erro</span>
    </div>
}

<EditForm Model="consulta" OnSubmit="Salvar">
    <div class="form-group">
        <label>Horario</label>
        <input @bind-value="consulta.Horario" type="time" class="form-control" name="horario" />
    </div>
    <div class="form-group">
        <label>Data</label>
        <input @bind-value="consulta.Data" type="date" class="form-control" name="data" />
    </div>
    <div class="form-buttons">
        <button type="button" class="btn-voltar" @onclick="@(() => Navigation.NavigateTo("/Gerenciar Consulta"))">Voltar</button>
        <button type="submit" class="btn-primary">Salvar</button>
    </div>
</EditForm>

@code {

    private string erro = string.Empty;

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Consulta consulta { get; set; } = new();

    protected override void OnInitialized()
    {
        var _consulta = consultaDAO.BuscarPorId(Id);

        if (_consulta != null)
        {
            consulta = _consulta;
        }
        else
        {
            erro = "Consulta não encontrada.";
        }
    }

    private void Salvar()
    {
        try
        {
            consultaDAO.Atualizar(consulta);

            Navigation.NavigateTo("/Gerenciar Consulta");
        }
        catch (Exception ex)
        {
            erro = $"Erro ao salvar a consulta: {ex.Message}";
        }

    }
}