@page "/Gerenciar Consulta"

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="/Css/styleConsulta/styleConsulta.css">
</head>
<body>

    <div class="container">
        <!-- Barra de data -->
        <div class="date-bar">
            <select>
                <option>04</option>
            </select>
            <select>
                <option>Agosto</option>
            </select>
            <select>
                <option>2025</option>
            </select>
            <span class="search">🔍</span>
        </div>

        <!-- Tabela -->
        <table>
            <tr>
                <th>Horário</th>
                <th>Procedimento</th>
                <th>Paciente</th>
                <th></th>
            </tr>
            <tr>
                <td>Horário</td>
                <td>Procedimento</td>
                <td>Paciente</td>
                <td>🔍</td>
            </tr>
            <tr>
                <td>Horário</td>
                <td>Procedimento</td>
                <td>Paciente</td>
                <td>🔍</td>
            </tr>
            <tr>
                <td>Horário</td>
                <td>Procedimento</td>
                <td>Paciente</td>
                <td>🔍</td>
            </tr>
            <tr>
                <td>Horário</td>
                <td>Procedimento</td>
                <td>Paciente</td>
                <td>🔍</td>
            </tr>
            <tr>
                <td>Horário</td>
                <td>Procedimento</td>
                <td>Paciente</td>
                <td>➕</td>
            </tr>
        </table>

        <!-- Botões -->
        <div class="buttons">
            <button class="btn">Voltar</button>
            <button class="btn add">Adicionar</button>
        </div>
    </div>
</body>
</html>

@code {

}

