@page "/Gerenciar Consulta"

@using ProjClinicaOdontoriso.Models;
@inject ConsultaDAO consultaDAO
@inject NavigationManager Navigation;


<PageTitle>Consultas</PageTitle>

<link rel="stylesheet" href="/Css/styleConsulta/StyleListarConsulta.css">

<h1 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-6">Consultas</h1>

<div class="filtro-barra">
    <select>
        <option>04</option>
        <option>05</option>
        <option>06</option>
    </select>

    <select>
        <option>Agosto</option>
        <option>Setembro</option>
        <option>Outubro</option>
    </select>

    <select>
        <option>2025</option>
        <option>2026</option>
    </select>

    <input type="text" placeholder="🔍" />
</div>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Horário</th>
            <th>Data</th>
        </tr>
    </thead>

    <tbody>
        @{
            int contador = 1;
            @foreach (var consulta in listaConsultas)
            {
                <tr>
                    <td>@contador</td>
                    <td>@consulta.Horario.ToString(@"hh\:mm")</td>
                    <td>@consulta.Data.ToString("dd/MM/yyyy")</td>
                </tr>

                contador++;
            }
        }
    </tbody>
</table>

<div class="botoes-inferiores">
    <a href="/Gerenciar Consulta" class="botao-voltar">Voltar</a>
    <a href="/consulta/nova" class="botao-adicionar">Nova Consulta</a>
</div>

@code {
    private List<Consulta> listaConsultas = new();

    protected override void OnInitialized()
    {
        CarregarConsultas();
    }

    private void CarregarConsultas()
    {
        listaConsultas = consultaDAO.ListarTodos();
    }
}
