@page "/Gerenciar Consulta"
@rendermode InteractiveServer

@using ProjClinicaOdontoriso.Models;
@inject ConsultaDAO consultaDAO
@inject NavigationManager Navigation;


<PageTitle>Consultas</PageTitle>

<link rel="stylesheet" href="/Css/styleConsulta/StyleListarConsulta.css">

<h1>Consultas</h1>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Horário</th>
            <th>Data</th>
        </tr>
    </thead>

    <tbody>
        @{
            int contador = 1;
            @foreach (var consulta in listaConsultas)
            {
                <tr>
                    <td>@contador</td>
                    <td>@consulta.Horario.ToString(@"hh\:mm")</td>
                    <td>@consulta.Data.ToString("dd/MM/yyyy")</td>
                </tr>

                contador++;
            }
        }
    </tbody>
</table>

<div class="botoes-inferiores">
    <button type="button" class="botao-adicionar" @onclick="@(() => Navigation.NavigateTo("/consulta/nova"))">Nova Consulta</button>
</div>

@code {
    private List<Consulta> listaConsultas = new();

    protected override void OnInitialized()
    {
        CarregarConsultas();
    }

    private void CarregarConsultas()
    {
        listaConsultas = consultaDAO.ListarTodos();
    }
}
