/* Reset básico 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}*/

#fundoForm {
    background-color: #aee4de;
}


.funcionariocadastro {
    
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

   
    .funcionariocadastro h1 {
        text-align: center;
        margin-bottom: 25px;
        font-size: 1.8rem;
        color: #333;
    }

    .funcionariocadastro label {
        display: block;
        margin-top: 5px;
        margin-bottom: 3px;
    }

   
    .funcionariocadastro input,
    .funcionariocadastro select {
        width: 100%;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
        outline: none;
        transition: border 0.3s;
        font-size: 0.95rem;
    }

   .funcionariocadastro input:focus,
   .funcionariocadastro select:focus {
             border: 1px solid #007bff;
        }

/* Organização em grid (2 colunas em telas grandes) 
form .funcionariocadastro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 25px;
}

/* Garantir que o título ocupe 2 colunas 
.funcionariocadastro h1 {
    grid-column: span 2;
}

/* Inputs grandes (que devem ocupar a linha toda) 
#endereco, #email_fu, #nome_fu, #cidade, #cargo {
    grid-column: span 2;
}

/* Responsividade 
@media (max-width: 768px) {
    form .funcionariocadastro {
        grid-template-columns: 1fr;
    }

    .funcionariocadastro h1 {
        grid-column: span 1;
    }
}*/
