
.containerLogin {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    background: url('/Img/dente2.jpg') no-repeat right center;
    background-size: cover;
    background-color: #aee4de;
}


.container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #aee4de;
    background: transparent;
}

.login-box {
    background: #83D8BA;
    padding: 70px;
    height: 500px;
    border-radius: 70px;
    width: 400px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .login-box h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #105D47;
        letter-spacing: 3px;
    }

    .login-box label {
        display: block;
        margin-top: 15px;
        color: #105D47;
        font-weight: bold;
    }

    .login-box input[type="email"],
    .login-box input[type="password"] {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: none;
        border-bottom: 1px solid #0d2221;
        background: transparent;
        outline: none;
    }

.remember {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 5px;
    color: #0d2221;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background: #0d2221;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

    button:hover {
        background-color: #105D47;
    }

.register-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #0d2221;
    text-decoration: none;
    font-size: 14px;
}
