@page "/"

<PageTitle>Menu</PageTitle>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odontoriso</title>
    <link rel="stylesheet" href="Css/styleMenu/menu.css">
    <!-- Ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="pagMenu" id="menu">
    <div class="container">

        <!-- Lado esquerdo -->
        <div class="left" id="leftMenu">
            <img src="Img/destista.jpg" alt="dentista" class="bg-img">
            <img src="Img/logopreta.png" alt="logo consultorio" class="Logo">

        </div>

        <!-- Lado direito -->
        <div class="right" id="rightMenu">
            <div class="user">
                <i class="fa-solid fa-user-circle"></i>
                <span>user_name</span>
            </div>

            <div class="menu">
                <div class="card">
                    <NavLink href="GerenciarPaciente">
                        <i class="fa-solid fa-people-group" style="color: #0B4A4A; font-size: 40px;"></i>
                        <p>Paciente</p>
                    </NavLink>
                   
                </div>
                <div class="card">
                    <NavLink href="GerenciarFuncionario">
                        <i class="fa-solid fa-person" style="color: #0B4A4A; font-size: 40px;"></i>
                        <p>Funcionário</p>
                    </NavLink>
                   
                </div>
                <div class="card">
                    <NavLink href="GerenciarDentista">
                        <i class="fa-solid fa-user-doctor" style="color: #0B4A4A; font-size: 40px;"></i>
                        <p>Dentista</p>
                    </NavLink>
                   
                </div>
                <div class="card">
                    <NavLink href="GerenciarAnamnese">

                        <i class="fa-solid fa-clipboard" style="color:#0B4A4A; font-size: 40px;"></i>
                        <p>Questionario <br> Anamnese</p>
                    </NavLink>
                   
                </div>
                <div class="card">
                    <NavLink href="GerenciarProcedimento">
                        <i class="fa-solid fa-tooth" style="color: #0B4A4A; font-size: 40px;"></i>
                        <p>Gerenciamento de <br> procedimento</p>
                    </NavLink>
                   
                </div>
                <div class="card">

					<NavLink href="GerenciarAgenda">
                        <i class="fa-solid fa-calendar-days" style="color: #0B4A4A; font-size: 40px;"></i>
                        <p>Agendamento</p>
                    </NavLink>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
